<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zt.details">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PackageCart.CartPaymentActivity"></activity>
        <activity android:name=".PackageCart.DeliveryActivity" />
        <activity android:name=".PackageCart.CartCompleteActivity" />
        <activity android:name=".PackageAuth.AuthActivity" />
        <activity android:name=".PackageAuth.LoginActivity" />
        <activity android:name=".PackageAuth.ForgetPasswordActivity" />
        <activity android:name=".PackageAuth.RegisterActivity" />
        <activity android:name=".PackageHome.HomeActivity" />
        <activity android:name=".PackageProductDetails.ProductDetailsActivity" />
        <activity android:name=".PackageAuth.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>